.error__poke-info {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;
    /* background-image: url(/public/images/pikachu-triste_auuu.1280.webp); */
    background-image: url(/public/images/pikachu-pensando.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.error__poke-info h1{
    background-color: rgba(54, 116, 116, 0.651);
    color: rgb(14, 37, 168);
}

.poke__name-error {
    color: rgba(253, 27, 27, 0.952);
}

.x__error {
    font-size: 3rem;
    margin-left: 20px;
    margin-right: 20px;
    color: rgba(253, 27, 27, 0.952);
    font-family:cursive;
}

.btn__error {
    width: 50%;
    margin: 0 auto;
    z-index: 200;
}

