.pokedex header img {
    width: 80%;
}

.content__pokedex {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.content__pokedex h3 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--light-black);
    margin: 2rem 0;
}

.content__pokedex h3 span {
    color: var(--light-red);
    font-weight: 700;
}

.content__pokedex form {
    margin-bottom: 2rem;
}

.box__cards__pokemons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

@media (min-width:1000px) {

    .content__pokedex h3 {
        font-size: 3rem;
    }
}