.card__info {
  text-transform: capitalize;
  color: var(--black);
}

.card__btn--return {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.card__btn--return button {
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
}

.card__btn--return button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.content__poke__info {
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin: 2rem auto;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.196);
}

.top__card__info {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
/**/
.img__info {
  max-width: 550px;
  margin: 0 auto;
}

.content__img-info {
  width: 100%;
}
/**/

/* .top__card__info img {
  width: 100%;
} */

.top__card__info span {
  font-size: 2rem;
  font-weight: 600;
  padding: 3px 15px;
  border: 1px solid rgba(0, 0, 0, 0.212);
  margin-bottom: 1rem;
}

.top__card__info h1 {
  font-size: 2.5rem;
}

.middle__card__info {
  padding: 2rem;
  text-align: center;
}

.characteristics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.box__char {
  display: grid;
  gap: 0.3rem;
}

.box__char span {
  color: var(--light-black);
}

.box__char p {
  font-weight: 600;
  font-size: 1.5rem;
}

.type__ability {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.box__t-a {
  display: grid;
  gap: 0.5rem;
}

.types-abilitys {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.types-abilitys span {
  font-size: 1.3rem;
  color: var(--black);
  padding: 5px 10px;
  border: 1px solid var(--light-black);
}

.bottom__card__info {
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

.text__bar__stat {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  text-transform: uppercase;
}

.bar {
  height: 30px;
}

hr {
  margin: 2rem 0;
}

.card__moves {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 1fr;
  padding: 2rem;
  text-align: center;
  gap: 0.5rem;
}

.name__move {
  background-color: rgb(199, 199, 199);
  border-radius: 10px;
  transition: transform 2s;
}

.name__move:hover {
  transform:rotateX(360deg);
}

@media ( max-width: 500px) {
  .type__ability {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: -20px;
  }
  
}