 header {
     min-height: 15vh;
     background: linear-gradient(180deg, var(--light-red) 0 65%, #191919 55% 100%);
     padding: .5rem;
     display: flex;
     justify-content: start;
     align-items: center;
 }

 .header__img {
     width: 500px;
     min-width: 200px;

 }


 /* @media (min-width:1000px) {

     header {
         padding-left: 3rem;
         justify-content: flex-start;
     }

     header img {
         width: 40%;
     }

 } */